$bg: #f8f9fb;
$pink: #ec4b7f;
$purple: #693f7e;
$font-grey: #43484c;

$HelveticaNeueCyr-Thin: "HelveticaNeueCyr Thin", Arial, sans-serif;
$HelveticaNeueCyr-Light: "HelveticaNeueCyr Light", Arial, sans-serif;


$mobile-width: "max-width: 767px";
$tablet-width: "min-width: 768px" and "max-width: 1199px";
$desktop-width: "min-width: 1200px";
