.about {
  background: #fff;
  box-shadow: 0 4px 5px 2px #efefef;
  border-bottom: 5px solid $pink;
  margin-bottom: 30px;
  border-radius: 12px;
  padding: 30px 40px;
  @media ($mobile-width) {
    padding: 10px 15px;
  }
}

.bio {
  border-bottom: 1px solid $font-grey;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 30px;

  @media ($mobile-width) {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 25px;
  }

  &__left-block {
    width: 300px;
    @media ($tablet-width) {
      width: 250px;
    }
    @media ($mobile-width) {
      order: 2;
    }
  }

  &__right-block {
    width: 680px;
    @media ($tablet-width) {
      width: 340px;
    }
    @media ($mobile-width) {
      order: 1;
      width: 250px;
    }
  }

  &__title {
    font-size: 25px;
    line-height: 1.15;
    margin: 0;
    margin-top: 30px;
    @media ($tablet-width) {
      font-size: 20px;
    }
    @media ($mobile-width) {
      margin-top: 10px;
      font-size: 17px;
    }

    &--name {
      margin: 0;
      font-size: 40px;
      margin-bottom: 5px;
      @media ($tablet-width) {
        font-size: 30px;
      }
      @media ($mobile-width) {
        display: none;
      }
    }
  }

  &__description {
    margin: 0;
    margin-top: 7px;
    @media ($tablet-width) {
      font-size: 18px;
    }
    @media ($mobile-width) {
      font-size: 15px;
      margin-top: 10px;
    }

    &--job {
      @media ($mobile-width) {
        display: none;
      }
    }
  }

  &__item {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__my-photo {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
    img {
      display: block;
      border-radius: 12px;
      width: 300px;
      height: auto;
    }
    @media ($tablet-width) {
      width: 250px;
      img {
        width: 250px;
      }
    }
    @media ($mobile-width) {
      display: none;
    }
  }

  &__contacts {
    margin-top: 25px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;

    &:after {
      content: "";
      display: block;
      width: 5px;
      background: $pink;
      height: 100%;
      background: #ec4b7f;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__contacts-title {
    font-family: $HelveticaNeueCyr-Light;
    color: black;
    font-size: 18px;
    line-height: 1.15;
    margin-bottom: 8px;
    @media ($tablet-width) {
      font-size: 15px;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    color: $font-grey;
    line-height: 1.15;
    transition: all 0.3s ease;
    margin-bottom: 5px;
    @media ($tablet-width) {
      font-size: 15px;
    }

    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}

.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 70px;
  @media ($mobile-width) {
    padding-bottom: 25px;
  }
}

.education-item {
  width: 320px;
  text-align: center;
  margin-top: 70px;
  @media ($tablet-width) {
    width: 240px;
  }
  @media ($mobile-width) {
    margin-top: 35px;
  }

  &__link {
    text-decoration: none;

    &--htmlacademy:hover {
      img {
        opacity: 0.8;
      }
    }
  }

  &__image {
    width: 200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    line-height: 0;
    padding: 20px;

    &--ha-htmlcss {
      background: #f15a29;
    }

    &--ha-adaptive {
      background: #312785;
    }
  }

  &__description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;

    span {
      display: block;
      font-family: $HelveticaNeueCyr-Light;
      color: black;
      font-size: 20px;
    }

    @media ($mobile-width) {
      font-size: 15px;
      margin-top: 5px;
      span {
        font-size: 16px;
      }
    }
  }

  &__date {
    font-size: 15px;
    color: #888;
  }
}
